
@font-face {
  font-family: "Iconify Explorer Font";
  src: url("./iconfont.eot");
  src: url("./iconfont.eot") format("embedded-opentype"),
       url("./iconfont.ttf") format("truetype"),
       url("./iconfont.woff") format("woff"),
       url("./iconfont.woff2") format("woff2"),
       url("./iconfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.i {
  font-family: "Iconify Explorer Font" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.i.ep\:arrow-right-bold:before {
content: "\e001";
}

.i.ep\:circle-check-filled:before {
content: "\e002";
}

.i.ep\:circle-plus:before {
content: "\e003";
}

.i.ep\:location-filled:before {
content: "\e004";
}

.i.ep\:remove:before {
content: "\e005";
}

.i.ep\:star-filled:before {
content: "\e006";
}

.i.prime\:angle-down:before {
content: "\e007";
}

.i.prime\:compass:before {
content: "\e008";
}

.i.prime\:filter-fill:before {
content: "\e009";
}

.i.prime\:home:before {
content: "\e00a";
}

.i.prime\:map-marker:before {
content: "\e00b";
}

.i.prime\:search:before {
content: "\e00c";
}

.i.prime\:shopping-cart:before {
content: "\e00d";
}

.i.prime\:user:before {
content: "\e00e";
}

