
@font-face {
  font-family: "Iconify Explorer Font";
  src: url("./iconfont.eot");
  src: url("./iconfont.eot") format("embedded-opentype"),
       url("./iconfont.ttf") format("truetype"),
       url("./iconfont.woff") format("woff"),
       url("./iconfont.woff2") format("woff2"),
       url("./iconfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.i {
  font-family: "Iconify Explorer Font" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.i.prime\:compass:before {
content: "\e001";
}

.i.prime\:home:before {
content: "\e002";
}

.i.prime\:map-marker:before {
content: "\e003";
}

.i.prime\:search:before {
content: "\e004";
}

.i.prime\:shopping-cart:before {
content: "\e005";
}

.i.prime\:user:before {
content: "\e006";
}

