@tailwind base;

@tailwind components;
@layer components{
    .foodtype{
        @apply
         w-[18vw] h-[20vw] flex flex-col justify-center items-center select-none cursor-pointer;
    }
    .bussiness-img-quantity{
        @apply
        w-[5vw] h-[5vw] bg-red-500 text-[#fff] text-[3.6vw] rounded-[2.5vw] flex justify-center items-center absolute right-[-1.5vw] top-[-1.5vw]
    }
    .business-info{
        @apply
        ml-[3vw]
    }
    .business-info h3{
        @apply
        text-[3.8vw] text-[#555]
    }
    .business-info p{
        @apply
        text-[3vw] text-[#888] mt-[2vw]
    }
}
@tailwind utilities;

@layer utilities{
    .border-t-1{
        border-top: solid 1px #DDD;
    }

    .cart-left-info p:first-child{
        font-size: 4.5vw;
        color: #fff;
        margin-top: 1vw;
    }
    .cart-left-info p:last-child {
        font-size: 2.8vw;
        color: #AAA;
    }

}
html{
    height: 100%;
    font-size: 4vw;
}
body{
    height: 100%;
}
